<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <!-- <link rel="stylesheet" href="page_GrandPy.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page_GrandPy.css') }}" />
        <title>GrandPy-Cottenceau-Thomas</title>
    </head>

    <body>

        <div id="bloc_page">

            <header>
                <h1 class="title">
                    GrandPy Bot le papy robot !
                </h1>
            </header>

            <div id="block_one">
                <p class="intro">
                    GranPy bot est ton cyber grand père,<br />
                    comme tout les séniors ses récits valent de l'or !<br/>
                    Donne lui un lieu, un monument, un édifice...<br/>
                    Il te contera son histoire et te montrera où il se trouve.
                </p>
            </div>

            <div id="block_two" class="block_two">
                <div class="grandpy_img">
                    <img src="static/images/papy_bot.png" alt="GrandPy_Bot" />
                </div>
                <div class="grandpy_bubble">
                    <img src="static/images/bulle_papi.png" alt="the_bubble_for_grandpy" />

                    <article id="answers">

                    </article>

                    <div class="users_bubble">
                        <img src="static/images/bulle_user.png" alt="questions" />
                    </div>
                </div>

                <div class="users_questions">
                    <form id="question">
                        <p>
                            <!-- <label for="msg">A toi de jouer!</label> -->
                            <input type="text" id="userText" name="userText" placeholder="poses ta question ici"></input>
                            <input type="submit" value="Go"></input>
                        </p>
                    </form>

                    <script type="text/javascript">
                        
                        function postFormData(url, data){
                            // we send the content of the form to the server
                            return fetch(url, {
                                method: "POST",
                                body: data
                            })
                            .then(response => response.json())
                            .catch(error => console.log(error));
                        }

                        let userInput = document.querySelector("#question");
                        userInput.addEventListener("submit", function (event) {
                            event.preventDefault();
                            postFormData("/ajax", new FormData(userInput))
                            .then(response => {
                                var answerDiv = document.getElementById("answers");
                                answerDiv.innerHTML = response;
                            })
                        });
                    </script>

                </div>
                <div id="map">
                </div>








                <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key={{gmap_api_key}}&callback=initMap&libraries=places&v=weekly"defer></script>
                <link rel="stylesheet" type="text/css" href="./style.css" />
                <!-- <script src="./app.js"></script> -->
                <script>
                    
                    let map;
                    let service;
                    let infowindow;

                    function initMap() {
                    const paris = new google.maps.LatLng(48.85341, 2.3488);
                    infowindow = new google.maps.InfoWindow();
                    map = new google.maps.Map(document.getElementById("map"), {
                        center: paris,
                        zoom: 10,
                    });
                    const request = {
                        query: "Museum of Contemporary Art Australia",
                        fields: ["name", "geometry"],
                    };
                    service = new google.maps.places.PlacesService(map);
                    service.findPlaceFromQuery(request, (results, status) => {
                        if (status === google.maps.places.PlacesServiceStatus.OK) {
                        for (let i = 0; i < results.length; i++) {
                            createMarker(results[i]);
                        }
                        map.setCenter(results[0].geometry.location);
                        }
                    });
                    }

                    function createMarker(place) {
                    const marker = new google.maps.Marker({
                        map,
                        position: place.geometry.location,
                    });
                    google.maps.event.addListener(marker, "click", () => {
                        infowindow.setContent(place.name);
                        infowindow.open(map);
                    });
                    }            
                </script>










            </div>

            <footer>
                <div id="links">
                    <div class="github">
                        <img src="static/images/github.png" alt="github" />
                    </div>
                    <div class="oc">
                        <img src="static/images/oc.png" alt="openclassrooms" />
                    </div>
                    <div class="workplace">
                        <img src="static/images/workplace.png" alt="workplace" />
                    </div>
                    <div class="email">
                        <img src="static/images/gmail.png" alt="email" />
                    </div>
                </div>
            </footer>

        </div>

    </body>

</html>
