<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <!-- <link rel="stylesheet" href="page_GrandPy.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page_GrandPy.css') }}" media="all"/>
        <title>GrandPy-Cottenceau-Thomas</title>
    </head>
        
    <body>
        <div id="bloc_page">

            <header>
                <h1 class="title">
                    GrandPy Bot le papy robot !
                </h1>
            </header>

            <div id="block_one">
                <p class="intro">
                    GranPy bot est ton cyber grand père,<br />
                    comme tout les séniors ses récits valent de l'or !<br/>
                    Donne lui un lieu, un monument, un édifice...<br/>
                    Il te contera son histoire et te montrera où il se trouve.
                </p>
            </div>

            <div id="block_two">

                <div id="grandpy_img">
                    <img src="static/images/papy_bot.png" alt="GrandPy_Bot" />
                </div>

                <div class="speech_zone">

                    <form id="question">
                        <p>
                            <input type="text" id="userText" name="userText" placeholder="poses ta question ici" size=50" maxlength="70"></input>
                            <input type="submit" value="Go"></input>
                        </p>
                    </form>

                    <article id="answers">
                    </article>

                    <img src="static/images/loader.gif" class="loader">

                </div>

                <div id="map">
                </div>
                
            </div>

            <footer>
                <div id="links">
                    <div class="github">
                        <a href="https://github.com/thomsart/P7_Cottenceau_Thomas"><img src="static/images/github.png" alt="github" /></a>
                    </div>
                    <div class="facebook">
                        <a href="https://www.facebook.com/thomas.cottenceau"><img src="static/images/facebook.png" alt="facebook" /></a>
                    </div>
                    <div class="email">
                        <a href="mailto:psychoid@hotmail.fr"  ><img src="static/images/gmail.png" alt="email" /></a>
                    </div>
                </div>
            </footer>

        </div>

    </body>

    <script type="text/javascript" src="static/script.js">
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{gmap_api_key}}&callback=initMap&libraries=places&v=weekly"defer></script>


</html>

