.title
{
    border: 1px solid black;
    text-align: center;
    font-family: Comic Sans MS, Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: crimson;
    text-shadow: 6px 6px 6px black;
    margin: 0px 0px 0px 0px;
}

.intro
{
    border: 1px solid black;
    text-align: center;
    line-height: 1em;
    font-family: Comic Sans MS, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: blueviolet;
    margin: 0px 0px 0px 0px;
}

#block_two
{
    border: 1px solid black;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1024px)
{
    #block_two
    {
        display: flex;
        flex-direction: column;
    }
}

#grandpy_img
{
    border: 1px solid black;
    width: 40em;
    height: 30em;
}
@media screen and (max-width: 1024px)
{
    #grandpy_img
    {
        display: none;
    }
}

.speech_zone
{
    border: 1px solid black;
    width: 40em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px)
{
    .speech_zone
    {
        width: 100%;
    }
}
@media screen and (max-width: 1024px)
{
    #userText
    {
        width: 100%;
    }
}

/* this is the div which contains the text */
#answers
{
    border: 1px solid black;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.question_div
{
    padding: 5% 5% 5% 5%;
    border-radius: 3%;
    text-align: right;
    background-color: #c5a2e2;
    float: right;
    clear: right;
}

.address_div, .answer_div
{
    font-size: 1em;
    display: inline-block;
    padding: 5% 5% 5% 5%;
    border-radius: 5%;
    background-color: #98b5e2;
}

.loader
{
    position: absolute;
    width: 10%;

}

.hidden
{
    display: none;
}

#map
{
    width: 40em;
    height: 30em;
}
@media screen and (max-width: 1024px)
{
    #map
    {
        width: 100%;
    }
}

#links
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10em;
    padding: 0px 0px 0px 0px;
}

.github, .facebook, .email
{
    width: 10em;
    height: 10em;
}